{% extends 'layout.twig' %}

{% block body %}
    <h1>TODOs</h1>
    <form action="/todo/add" method="post">
        <input type="text" name="task" placeholder="What should I do?..." />
        <select name="priority">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
        <input type="submit">
    </form>
    <hr/>
    <ul class="list">
        {% for todo in todos %}
            <li
            {% if todo.priority == 4 %}
                style="color: magenta"
            {% elseif todo.priority == 3 %}
                style="color: red"
            {% elseif todo.priority == 2 %}
                style="color: blue"
            {% elseif todo.priority == 1 %}
                style="color: green"
            {% endif %}
            >
                <input type="checkbox" name="{{ todo.id }}" {% if todo.done == true %} checked {% endif %} onchange="done({{ todo.id }})"/>
                {{ todo.id }}
                {{ todo.task }}
                <button class="trash"  onclick="allert({{ todo.id }})" type="submit" ><i class="far fa-trash-alt"></i></button>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block script %}
    <script src="./index.js"></script>
{% endblock %}
